html {
    height: 100%; 
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
   
  }
  .objeto-container{
        display: grid; 
        justify-content: center; /* Centra el contenido horizontalmente */
        align-items: center; /* Centra el contenido verticalmente */
        height: 100vh; /* Hace que el contenido principal tenga una altura del 100% del viewport */
        width: 100vw; /* Hace que el contenido principal tenga un ancho del 100% del viewport */
        padding: 20px; /* Añade un padding interno */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho/altura total */
        background: linear-gradient(to bottom, #111111 0%, #424245 50%, #111111 100%); 
        color: white;
        font-family: sans-serif;
      }

      .audio_obj{
        z-index: 1000;
      }
      
      .fixed-button {
        position: fixed;
        bottom: 20px; /* Ajusta según sea necesario */
        right: 20px; /* Ajusta según sea necesario */
        z-index: 1000; /* Asegúrate de que el botón esté por encima de otros elementos */
      }
      