html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.objeto-container {
  display: grid;
  justify-content: center;
  /* Centra el contenido horizontalmente */
  align-items: center;
  /* Centra el contenido verticalmente */
  height: 100vh;
  /* Hace que el contenido principal tenga una altura del 100% del viewport */
  width: 100vw;
  /* Hace que el contenido principal tenga un ancho del 100% del viewport */
  padding: 20px;
  /* Añade un padding interno */
  box-sizing: border-box;
  /* Asegura que el padding no afecte el ancho/altura total */
  background: linear-gradient(to bottom, #111111 0%, #424245 50%, #111111 100%);
  color: white;
  font-family: sans-serif;
}

.audio_obj {
  z-index: 1000;
}

.fixed-button {
  position: fixed;
  bottom: 20px;
  /* Ajusta según sea necesario */
  right: 20px;
  /* Ajusta según sea necesario */
  z-index: 1000;
  /* Asegúrate de que el botón esté por encima de otros elementos */
}

.dialogo {
  position: fixed;
  display: flex;
  height: 31vh;
  top: 23vh;
  left: 2vh;
  z-index: 1000;
}


.instruccion {
  position: fixed;
  display: flex;
  top: 10vh;
  left: 12vh;
  width: 200px;

}

.boton_objs {
  position: fixed;
  /* Asegura que el botón se mantenga en una posición específica respecto a la ventana del navegador */
  bottom: 53px;
  /* Posiciona el botón a 20px del borde inferior, en lugar de usar 'top' */
  right: 3px;
  /* Posiciona el botón a 20px del borde derecho, en lugar de usar 'left' */
  z-index: 9;
  /* Mantiene el botón por encima de otros elementos si es necesario */
  margin-top: auto;
  /* No es necesario si usas position fixed */
  align-self: end;
  /* No es necesario si usas position fixed */
}

.fillm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 64vh;
  left: -3vh;
  transform: translate(-50%, -50%);
  width: 150vh;
  /* Ajusta el ancho al 100% del ancho de la ventana del navegador */
  height: auto;
  z-index: 10;
}

.obj-3D {
  position: relative;
  /* O 'absolute' si necesitas posicionarlo respecto a un contenedor específico */
  /* width: 50vw; Ancho del objeto 3D */
  /* height: 50vh; Altura del objeto 3D */
  /* top: 30vh; Posición desde el top del viewport o contenedor padre */
  /* left: 25vw; Posición desde el lado izquierdo del viewport o contenedor padre */
  z-index: 5;
  /* Asegura que se muestre correctamente sobre otros elementos si es necesario */
}

.obj-3D-wrapper {
  position: absolute;
  width: 60vw;
  /* Ancho del contenedor del objeto 3D */
  height: 40vh;
  /* Altura del contenedor del objeto 3D */
  top: 10vh;
  /* Posición superior desde el viewport */
  left: 20vw;
  /*Posición izquierda desde el viewport
    z-index: 5; /* Controla la visibilidad relativa */
}



.obj-3D {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.obj-3D h2 {

  display: ruby-text;

}