.gallery-container {
    text-align: center;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5);;
    border-radius: 15px;
    width: 377px;
    height: 155px;
   
  }
  
  .gallery-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .gallery-image {
    width: 105px;
    height: 85px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  
  .gallery-image:hover {
    transform: scale(1.1);
  }
  