html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.galeria-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: linear-gradient(to bottom, #111111 0%, #424245 50%, #111111 100%);
}

.button-exit {
  align-self: flex-start;
  padding: 20px;
  background-color: transparent;
}

.button-exit button {
  background-color: transparent;
}

.imagen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.image-and-description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen-container button {
  border: none;
  background: none;
  cursor: pointer;
}

.imagen-container button img {
  width: 20px;
  height: 30px;
}

.imagen-container img, .imagen-container video {
  width: 325px; /* Controla el tamaño de la imagen y el video */
  height: 232px;
  object-fit: cover;
}

.descripcion {
  color: #fff;
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
  font-family: sans-serif;
}

.bottom-image {
  width: 70%;
  display: block;
  margin-top: 20px;
  align-self: center;
}

.filmy-galery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 72vh;
  left: 24vh;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 10;
}

.button-armar {
  display: flex;
  height: 100vh;
  z-index: 1000;
}

.audio_bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}
