html {
    height: 100%; 
  }
  
  body {
    height: 100%;
    margin: 0;
    padding: 0;
   
  }

  .galeria-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #111111 0%, #424245 50%, #111111 100%);
  }
  
  .imagen-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagen-container button {
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .imagen-container button img {
    width: 20px; /* Ajusta el tamaño según necesites */
    height: 30px;
  }
  
  .imagen-container img {
    width: 325px; /* Ajusta el tamaño según necesites */
    height: 232px;
    object-fit: cover;
  }
  
  .descripcion {
    color: #fff;
    font-size: 16px;
    margin-top: 8px;
    text-align: center;
    font-family: sans-serif;
  }
  