.rectangle-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  box-sizing: border-box;
}

.rectangle-image {
  width: 100px;
  height: 100px;
  touch-action: none; /* Deshabilita el zoom y el desplazamiento mientras se toca */
  -webkit-user-drag: none; /* Previene el arrastre predeterminado en Safari */
}

@media (max-width: 768px) {
  .rectangle-container {
    flex-direction: column;
    align-items: center;
  }
}

  