/* CustomButton.css */

button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    /* Establece el outline a none para evitar el outline predeterminado */
    outline: none;
    transition: opacity 0.3s; /* Transición suave para la opacidad */
  }
  

  .customButton:active, .control-button:active {
    opacity: 0.7; /* Opacidad reducida cuando el botón es presionado */
  }

  .control-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    border: 2px solid black;
    padding: 10px;
    cursor: pointer;
    outline: none;
    color: black;

  }
  
  /* Ajusta estos estilos según necesites */
  .control-button img {
    width: 30%;
    margin-left: 20px;
    transition: opacity 0.3s; /* Transición suave para la opacidad */

  }
  
  
  