/* Start.css */
html {
  height: 100%; 
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.contenido-principal {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  justify-content: flex-end; /* Aligns children to the bottom */
  background: linear-gradient(to bottom, #111111 0%, #424245 50%, #111111 100%); 
}

.bottom-container {
  width: 100%; /* Full width to contain both image and controls */
  align-items: flex-end;
  text-align: start;
  position: relative;
}

.ticket-image {
  width: 100%; /* Asegúrate de ajustar esto según tus necesidades */
  height: auto;
  display: block;
}
.image-overlay-container {
  position: relative;
}

.text-overlay {
  position: absolute;
  top: 42%;
  right: 0;
  transform: translateY(-50%);
  color: white; /* Asegúrate de que el texto es visible sobre el fondo de la imagen */
  font-size: 17px; /* Establece el tamaño de la fuente */
  width: 99%; /* Ocupa todo el ancho del contenedor para alinear el texto desde la derecha */
  text-align: right; /* Alinea el texto a la derecha */
  padding: 10px; /* Añade algo de padding si es necesario */
  font-family: sans-serif;
}



