/* SquareWithContent.css */

.square-container {
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 25px;
}

.square-image {
  /* max-width: 100%;  */
  height: auto;
}

.square-text1,
.square-serial {
  text-align: end;
  margin: 5px 0;
  /* Espaciado entre elementos */
  color: white;
  font-family: sans-serif;
  font-size: 31px;
  margin-top: 13px;
}
.square-text2{
  text-align: end;
  font-size: 22px;
  color: white;
  font-family: sans-serif;
  margin: auto;
}