.puzzle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh; /* Utiliza todo el alto de la ventana */
    padding: 20px;
    background: linear-gradient(to bottom, #111111 0%, #424245 50%, #111111 100%); 
}

.ar-button-container {
    margin-top: 20px;
    width: 100%;
}

.object-3d-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.missing-object-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;
}

/* Estilos para adaptación responsiva y ajustes adicionales según necesidad */
@media (max-width: 768px) {
    .puzzle-container {
        padding: 10px;
    }
}
